* {
  box-sizing: border-box;
}

.clearfix:after {
     visibility: hidden;
     display: block;
     font-size: 0;
     content: " ";
     clear: both;
     height: 0;
     }
.clearfix { display: inline-block; }
/* start commented backslash hack \*/
* html .clearfix { height: 1%; }
.clearfix { display: block; }
/* close commented backslash hack */

html {
  font-size: 8px;
}

body{
  padding: 1rem;
  background: #47a747;
  color: #f7f7f7;
  user-select: none;
}

.container {
  max-width: 1000px;
  margin: 0 auto;
}

.buttons {
  width: 100%;
  height: 5rem;
}

.button {
  float: left;
  background: #f7f7f7;
  color: #373737;
  width: 47%;
  height: 5rem;
  margin-right: 6%;
  line-height: 5rem;
  border: 2px solid #373737;
  border-radius: .5rem;
  text-align: center;
  font-size: 3rem;
}

.fullbar {
  width: 100%;
}

#reset,
#startover{
  width: 100%;
}

.button.last {
  margin-right: 0;
}

.button:hover {
  background: #373737;
  color: #f7f7f7;
  border: 2px solid #f7f7f7;
  cursor: pointer;
}

.button.lil {
  width: 19%;
}

.button.big {
  width: 50%;
}

.changeBet {
  margin-bottom: .5rem;
}

.computer-value {
  text-align: right;
  font-size: 2.5rem;
}

.player-value {
  text-align: left;
  font-size: 2.5rem;
}

.title {
  font-size: 3rem;
  margin-bottom: .5rem;
}

.title div {
  float: left;
  width: 50%;
}

.result {
  text-align: center;
  font-size: 5rem;
}

.hide {
  display: none;
}

#cash {
  float: left;
  text-align: left;
  width: 50%;
  margin-bottom: 1rem;
  font-size: 2rem;
}

#bet {
  float: left;
  text-align: right;
  width: 50%;
  margin-bottom: 1rem;
  font-size: 2rem;
}

.card-section {
  float: left;
  width: 50%;
  height: 10rem;
}

.single-left {
  background: #f7f7f7;
  color: #373737;
  float: left;
  width: 6.5rem;
  height: 10rem;
  border: 2px solid #373737;
  border-radius: .5rem;
  margin-left: -4.5rem;
  padding: .35rem;
}

.facevalue {
  font-size: 1.35rem;
}

.first {
  margin-left: 0;
  margin-left: 0;
}

.red {
  color: #e75757;
}

@media screen and (min-width: 401px) {
  html {
    font-size: 10px;
  }
}

@media screen and (min-width: 590px) {
  html {
    font-size: 13px;
  }
}

@media screen and (min-width: 774px) {
  html {
    font-size: 16px;
  }
}